{# <body class="d-flex flex-column h-100 bg-light">
	<main
		class="flex-shrink-0">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
			<div class="container px-5">
				<a class="navbar-brand" href={{ path ('home_index') }}>
					<span class="fw-bolder text-primary">Home</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
						<li class="nav-item">
							<a class="nav-link" href="">Salles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="">Reservez une salle</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</main>
</body> #}

<div class="tm-main-content" id="top">
	<div class="tm-top-bar-bg"></div>
	<div class="tm-top-bar" id="tm-top-bar">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-expand-lg narbar-light">
					<a class="navbar-brand mr-auto" href="#">
						<img src="{{ asset('assets/img/logo.png') }}" alt="Site logo">
						Work
					</a>
					<button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="mainNav" class="collapse navbar-collapse tm-bg-white">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link active" href="#top">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tm-section-2">Nos salles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tm-section-3">Spécificités</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tm-section-4">Contactez nous</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- .tm-top-bar -->
</div>
