{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation</h1>
    <p>Vous êtes en train de réserver la salle avec l'ID {{ salleId }}.</p>
    <!-- Ajoutez ici le formulaire de réservation ou d'autres éléments nécessaires -->
{% endblock %}
{% endblock %}
